<div class="col-xl-12">
    <nav class="navbar navbar-expand-lg navbar-dark mb-3">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Team 2 Cinema</a>
        <button class="navbar-toggler" type="button" (click)="navBarCollapsed = !navBarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: right;" [ngbCollapse]="navBarCollapsed">
          <ul class="navbar-nav mr-auto" style="display: flex;">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/films" routerLinkActive="active">Now Showing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/upcoming" routerLinkActive="active">Upcoming</a>
            </li>
            <li class="nav-item" [hidden]="loginHidden">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login/Register</a>
            </li>
            <li class="nav-item" [hidden]="dashboardHidden">
              <a class="nav-link" href="#" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item dropdown" [hidden]="dropdownHidden">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      </div>
    