<div class="intro">
    <h2>Welcome to Team 2 cinema</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, magnam perferendis! Numquam recusandae nisi laboriosam voluptatibus, id, inventore expedita ratione mollitia, pariatur nesciunt rerum ea. Illo soluta repudiandae ad molestias?</h3>
</div>

<div class="col-lg-3" style="float: left;">
    <img src="/assets/images/gucci.jpg" style="width: 100%;">
</div>
<div class="col-lg-3" style="float: left;">
    <img src="/assets/images/gucci.jpg" style="width: 100%;">
</div>
<div class="col-lg-3" style="float: left;">
    <img src="/assets/images/gucci.jpg" style="width: 100%;">
</div>
<div class="col-lg-3" style="float: left;">
    <img src="/assets/images/gucci.jpg" style="width: 100%;">
</div>