<div style="text-align: center; padding-top: 30px;">
    <h2>TICKET SUCCESSFULLY BOOKED</h2>
</div>
    <div class="container-fluid w-65 mt-3 col-lg-8 col-sm-8 col-xl-6">
        <div class="card flex-row flex-wrap bg-dark text-white">
          <div class="card-block px-3 mt-3" style="width: 100%; text-align: center;">
            <h4 class="card-title">Ticket Details:</h4>
            <h6 class="card-text">{{movieName}}</h6>
            <hr />
            <div class="d-flex">
                <div class="flex-item">
                <p class="card-text">Date: {{date}}</p>
                <p class="card-text">Time:  {{time}}</p>
                </div>
                <div class="flex-item">
                <p class="card-text">Number of tickets: {{numTickets}}</p>
                <p class="card-text">Price: {{price}}</p>
                </div>
            </div>
            <hr />
            <p class="card-text">Unique Reference: </p>
            <p class="card-text">{{id}}</p>
            <p></p>
            <!-- <hr />
            <div style="margin-bottom: 20px;">
                <a class="btn btn-success" href="">Download Ticket</a>
            </div> -->
        </div>
      </div>
</div>

