    <div class="main-block">
      <div class="left-part">
          <i class="fas fa-theater-masks"></i>
          <i class="fas fa-film"></i>
          <i class="fas fa-tv"></i>
        
      </div>
      <form action="/">
        <h1>Contact Us</h1>
        <div class="info">
          <input class="fname" type="text" name="name" placeholder="Full name">
          <input type="text" name="name" placeholder="Email">
          <input type="text" name="name" placeholder="Phone number">
         
        </div>
        <p>Message</p>
        <div>
          <textarea rows="4"></textarea>
        </div>
        <button type="submit" href="/">Submit</button>
      </form>
    </div>