<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img class="img-fluid w-100" [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img class="img-fluid w-100" [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>THE MATRIX RESURRECTIONS</h3>
        <p>Coming soon</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img class="img-fluid w-100" [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container-fluid w-65  mt-3 ">
    <div class="card flex-row flex-wrap bg-dark text-white">
      <div class="card-header border-0">
          <img src="//placehold.it/200" alt="">
      </div>
      <div class="card-block px-3">
          <h4 class="card-title">SPIDER-MAN: NO WAY HOME</h4>
          <h6 class="card-text">For the first time in the cinematic history of Spider-Man, our friendly neighborhood hero is unmasked and no longer able to separate his normal life from the high-stakes of being a Super Hero.</h6>
          <hr>
          <p class="card-text">Starring Tom Holland, Zendaya, Benedict Cumberbatch, Jon Favreau, Jacob Batalon, Marisa Tomei</p>
          <p class="card-text">Running Time 2hrs 28mins</p>
          <a href="#" class="btn btn-primary mb-2">Book ticket</a>
      </div>

  </div>
  </div>
  <div class="container-fluid w-65  mt-3 ">
    <div class="card flex-row flex-wrap bg-dark text-white">
      <div class="card-header border-0">
          <img src="//placehold.it/200" alt="">
      </div>
      <div class="card-block px-3">
          <h4 class="card-title">SPIDER-MAN: NO WAY HOME</h4>
          <h6 class="card-text">For the first time in the cinematic history of Spider-Man, our friendly neighborhood hero is unmasked and no longer able to separate his normal life from the high-stakes of being a Super Hero.</h6>
          <hr>
          <p class="card-text">Starring Tom Holland, Zendaya, Benedict Cumberbatch, Jon Favreau, Jacob Batalon, Marisa Tomei</p>
          <p class="card-text">Running Time 2hrs 28mins</p>
          <a href="#" class="btn btn-primary mb-2">Book ticket</a>
      </div>

  </div>
  </div>